.required-plugins .plugin-card {
    float: none;
    width: 100%;
    border: none;
    clear: both;
    text-align: left;
    margin: 0 0 1em 0;
}

.required-plugins .button {
    float: right;
    vertical-align: middle;
}

.required-plugins .title {
	max-width: 130px;
    display: inline-block;
}

.wrap .demo-type.premium {
    position: absolute;
    z-index: 1;
    background: #0073aa;
    color: white;
    text-transform: capitalize;
    padding: 0.5em 1em;
    border-radius: 3px;
}